# Django and Django-related packages
Django
djangorestframework
django-cors-headers
djangorestframework-simplejwt
django-tailwind
django-environ

# Database
mysqlclient
dj-database-url

# AI Integration
requests
openai

# Geospatial features
django-geojson
django-leaflet

# Utils
python-dotenv
pillow
whitenoise
gunicorn

# Development tools
black
isort
flake8